@media only screen and (max-width: 1200px) {
    .navbar{
        height: 80px;
    }

    .logo h1{
        font-size: 28px;
    }

    .menu a{
        font-size: 12px;
    }

    .header{
        padding-top: 100px;
    }

    .txt-headline-top{
        font-size: 14px;
        letter-spacing: 12px;
    }

    .txt-headline-bottom{
        font-size: 50px;
    }

    .img-headline img{
        width: 75%;
    }

    section h2{
        font-size: 30px;
    }

    .card-text h3, .texto-oculto h3{
        font-size: 16px;
    }

    .card-text p, .texto-oculto p{
        font-size: 13px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar{
        height: 60px;
    }

    .logo h1{
        font-size: 22px;
    }

    .txt-headline-top{
        letter-spacing: 9px;
    }

    .txt-headline-bottom{
        font-size: 40px;
    }

    .headline p{
        font-size: 12px;
    }

    .contact-btn{
        padding: 12px;
        font-size: 12px;
    }

    .card{
        display: block;
        width: 100%;
        
    }

    .whats{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .menu{
        display: none;
    }

    .logo{
        margin-left: 0;
    }

    .logo h1{
        text-align: center;
    }

    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p{
        margin: 20px 0;
    }

    .contact-btn{
        padding: 14px;
    }

    .img-headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    section{
        margin: 10% 5%;
    }

    footer{
        margin-top: 5%;
    }
}